<script>
    function toggle(){
        //get the whole menu
        var menu= document.getElementById("mobile-nav")
        //get the toggle icon to change from bara to close
        var togglerIcon = document.getElementById("togglericon")
        
        
        if(togglerIcon.classList.contains("fa-bars")){
            //menu should show
            menu.style.display="block";
            togglerIcon.classList.remove("fa-bars");
            togglerIcon.classList.add("fa-close");
        }else{
            //menu should hide
            menu.style.display="none";
            togglerIcon.classList.remove("fa-close");
            togglerIcon.classList.add("fa-bars");
        }

    }
    function hoverBook(){
        var  bookInfo = document.getElementById("book-info")
        bookInfo.style.display ="flex";
    }
    function getOffBook(){
        //remove the element by adding hidden
        var  bookInfo = document.getElementById("book-info")
        bookInfo.style.display ="none";
    }
    
</script>

</body>
</html>