<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="scaffold">
    <header>
        <nav class="navbar">
            <div class="img-logo">
                <img src="/images/kcl_logo.png" alt="">
            </div>
            <div class="nav-toggler" id="toggler"  onclick="toggle()">
                
                <i class="fa fa-bars fa-2x" id="togglericon"></i>
            </div>
            <ul class="mobile-nav" id="mobile-nav">
                <li><a href="">Books</a></li>
                <li><a href="">Borrow</a></li>
                <li><a href="">Return</a></li>
                <li><a href="">E-books</a></li>
                <button class="btn btn-nav btn-login">Login</button>
                <button class="btn btn-nav btn-member">Become a member</button>
            </ul>
            <ul class="nav-middle">
                <li><a href="">Books</a></li>
                <li><a href="">Borrow</a></li>
                <li><a href="">Return</a></li>
                <li><a href="">E-books</a></li>
            </ul>
            
            <div class="nav-buttons">
                <button class="btn btn-login">Login</button>
                <button class="btn btn-member">Become a member</button>
            </div>
        </nav>
    </header>