<%- include("layouts/header") %>
<div class="container">
<section class="book-section">
    <div class="filters">
        <input type="text" placeholder="Search book..." class="form-control search-box">
        <select name="filter-box" id="">
            <option value="All">All Categories</option>
            <option value="All">Fiction</option>
            <option value="All">Non Fiction</option>
            <option value="All">Documentaries</option>
            <option value="All">Science</option>
            <option value="All">Computing</option>
        </select>
    </div>
    <div class="books">
        <!-- single book -->
        <div class="card-book" id="card-book" >
            <img src="https://m.media-amazon.com/images/I/51syo5+r6UL._AC_UF1000,1000_QL80_.jpg" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>
    
      
        <!-- single book -->
        <div class="card-book" id="card-book"  >
            <img src="https://m.media-amazon.com/images/I/51EWRgaqIKL.jpg" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>

        <!-- single book -->
        <div class="card-book" id="card-book" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzSNDsHxpFXU6J3etAMvrhNeBb9R1s8oBeug&usqp=CAU" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>
    
      
        <!-- single book -->
        <div class="card-book" id="card-book"  >
            <img src="https://m.media-amazon.com/images/S/aplus-media/vc/a9efb038-9438-4b3a-9f83-3fb0226a693f.__CR0,0,150,300_PT0_SX150_V1___.jpg" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>

        <!-- single book -->
        <div class="card-book" id="card-book" >
            <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1513608390i/34647324.jpg" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>
    
      
        <!-- single book -->
        <div class="card-book" id="card-book"  >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdN4VSsmbnnQT6bQkYuOqdjp9JQljPpVj69Q&usqp=CAU" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>
      </div>
</section>
</div>

<%- include("layouts/footer") %>
