<%- include("layouts/header") %>
<div class="container">
<section class="book-section">
    <div class="books">
        <!-- single book -->
        <div class="card-book" id="card-book" >
            <img src="https://m.media-amazon.com/images/I/51syo5+r6UL._AC_UF1000,1000_QL80_.jpg" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>
    
      
        <!-- single book -->
        <div class="card-book" id="card-book"  >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdN4VSsmbnnQT6bQkYuOqdjp9JQljPpVj69Q&usqp=CAU" alt="">
            <div class="book-info" id="book-info">
                <h3>The bait of satan</h3>
                <h4>Author</h4>
                <h5>Category</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, eos! Laboriosam, id fugiat impedit natus similique maiores recusandae cum ipsa ipsam incidunt autem consequatur sunt ducimus. Quasi nostrum maiores praesentium!</p>
            </div>
        </div>
      </div>
</section>
</div>

<%- include("layouts/footer") %>
