<%- include("layouts/header") %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header mb-3">Login</div>
        <div class="mb-3 px-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3 px-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Password</label
            >
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="row mb-3">
            <div class="col-md-4    "></div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="col-md-4"></div>
        </div>
       
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<%- include("layouts/footer") %>
