@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
:root{
    --blue: #00aeef;
    --red: #ec1c25;
    --purple: #312f93;
    --black: #252122;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("https://live.staticflickr.com/65535/52194010367_c396957a6a_b.jpg") no-repeat center fixed;
    background-size: cover;
}
.scaffold{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
}

/* ===============================NAVBAR============================================================== */
 header{
    height: 5rem;
    background-color: #eee;

}
.navbar{
    display: flex;
    align-items: center;
    margin: 0 2rem;
    justify-content: space-between;
}
.mobile-nav{
    display: none;
}
nav .img-logo{
    width: 90px;
    position: relative;
}
nav .img-logo img{
    width: 100%;
    object-fit: cover;
}
.nav-toggler{
    display: none;
    color: var(--black);
    cursor: pointer;
}
nav .nav-middle{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.btn{
    padding: .5rem 1rem;
    border-radius: 5px;
    display:block;
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
}
/* ================================CONTAINER ======================================================== */
.container{
    padding: 3% 3%;
}
.center-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;

}


/* =================================BOOKS PAGE - INDEX=============================================================================== */
.book-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}
.filters{
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
    gap: 1rem;
}
.filters .search-box{
    border: 1px solid rgba(0, 0, 0, .4);
    padding: .5rem;
    border-radius: 6px;
}
.filters select{
    background-color: transparent;
    padding: 10px;
    border: 1px solid var(--purple);
    border-radius: 4px;
}
.books{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
    row-gap: .5rem;
}
.card-book{
    width: 14rem;
    height: 20rem;
    margin-left: 1.5rem;
    position: relative;
}

.card-book img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-book:hover>.book-info{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
}
.book-info{
    display: none;
    cursor: pointer;
}

.book-info h4{
    color: #a1a1a1;
}
.book-info h5{
    color: #ebd9d9;
}
.book-info h3{
    color: #f1eeee;
}
.book-info p{
    text-align: center;
    color: aliceblue;
    font-size: 12px;
}

/* ======================================LOGIN ====================================================================== */
.top-form{
    display: flex;
    justify-content: space-between;
}
.form-login{
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form .form-group{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
form input{
    border: 1px solid rgba(0, 0, 0, .2);;
    padding: .5rem 1rem;
    border-radius: 2px;
    width: 24rem;
}
.btn-submit{
    width: 10rem;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}

/* =====================================MOBILE DESING =================================================*/
/* =====================================NAVBAR MAIIN ==================================================*/
@media(max-width: 678px){
    nav .nav-middle{
        display: none;
    }
    nav .buttons{
        display: none;
    }
    /* display togggler */
    .nav-toggler{
        display: block;
    }

    .mobile-nav{
       
        position: absolute;
        top: 5.5rem;
        left: 0;
        right: 0;
        background-color: #eee;
        z-index: 100;
    }
    .mobile-nav li{
        display: flex;
        flex-direction: column;
    }
    .mobile-nav li:first-child{
        border-top: solid black 1px;
    }
    .mobile-nav li{
        border-bottom: solid black 1px;
        padding: .4rem 0;
    }
    .mobile-nav li a{
        padding: .5rem 1rem;
    }
    nav .nav-buttons{
        display: none;
    }
    .btn-nav{
        width: 100%;
        margin-top: 1rem;

        padding: 1rem 0;
    }
    
}

/* ================================================================================================ */
@media(max-width:1200px) {
    .books{
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #fff;
        row-gap: .5rem;
    }
}
@media(max-width:1000px) {
    .books{
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #fff;
        row-gap: .5rem;
    }
}
@media(max-width:768px) {
    .books{
        display: grid;
        grid-template-columns: auto auto;
        background-color: #fff;
        row-gap: .5rem;
    }
}
@media(max-width:522px) {
    .books{
        display: grid;
        grid-template-columns: auto;
        background-color: #fff;
        row-gap: .5rem;
    }
}